{% include "@organisms/site-header.twig" %}
<main class="site-content">
  {% block content %}
    <h2>Site Content Here</h2>
  {% endblock %}
  {% include "@atoms/buttons/button.twig" %}
</main>
{% include "@organisms/site-footer.twig" %}
