<section class="tiles">

  {% for item in items|slice(0,3) %}
    {% include "@molecules/box-thumbnail.twig" with {
      img: item.image,
      style: item.style,
      title: item.title
    } %}
  {% endfor %}

</section>
